doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    header
      .leftContent 
        a(href="/") HotTalk 
        span.icon-y.far.fa-comment
      if locals.username
        .rightContent
          span #{locals.username}　　
          a(href="/logout") ログアウト 
      else
        .rightContent 
          span  ゲスト 
          a(href="/signup") 新規登録 
    block content
