extends layout 

block css 
  link(rel="stylesheet", href="/stylesheets/login.css")

block header
  header
    a(href="/") HotTalk 
      span.icon-y.far.fa-comment

block content 
  main
    .main_content
      h1 ログイン
      h5 #{mes}
      h5 #{locals.username}
      form(action="/login" method="post")
        p ユーザー名
        input(type="text" name="user_name" value="" placeholder="username")
        p パスワード
        input(type="password" name="password" value="" placeholder="password")
        br
        button(type="submit") ログイン