extends layout 
block css
  link(rel="stylesheet", href="/stylesheets/signup.css")
block content
  main 
    div(class='main_content')
      h1 新規登録
      h5 #{msg} 
      form(action='/signup' method='post')
        p アカウント名
        input(type='text' name='user_name' value='' placeholder='username')
        p パスワード
        input(type='password' name='password' placeholder='password')
        br
        br
        // password　typeをあとで指定
        button(type='submit') 登録する

