extends layout
block css 
  link(rel="stylesheet", href="/stylesheets/theme.css")
block content 
  main
    h2 ようこそ#{locals.username}さん
    h2 話し合いたいテーマを選択しましょう
    .selectContent 
      a.rikei.theme 理系
      a.bunkei.theme 文系
      a.daily.theme その他
