extends layout
block css 
  link(rel="stylesheet", href="/stylesheets/top.css")

block content
  main
    .contents
      .main_content
        h1 HotTalk
        p 色々な人と交流して
          span 新たな道
          | を切り開こう!
        p 他者の考えに触れたときあなたの脳内で
          span 革新
          | が起こる!
  .login_part
    .contents
      if locals.username
        a(class='login_link' href='/theme') テーマ選択へ
      else
        a(class='new_link' href='/signup') 新規登録
        a(class='login_link' href='/login') ログイン
        a(class='guest_link' href='/select') ゲストで閲覧
  .contents
    .introduce
      h2 HotTalkとは?
      p →　日常会話から専門的な会話まで楽しむサイトです
      h3 Theme
      h5 3つのテーマで会話しましょう!
      ul
        li 
          h3 理系
          |　数学・物理学・化学・生物学などの自然界を研究の対象とする学問
        li
          h3 文系
          |  政治学・商学・文学・法学などの人間の活動を研究の対象とする学問
        li 
          h3 日常会話
          |  いろんな愚痴が蔓延るテーマ
  br
  footer
    .footer_content
      ul
        li このサイトについて
        li お問い合わせ